{% extends "main_django.html" %}

{% block body %}
    <a class="btn btn-primary" href="{% url 'dashboard' %}">Back</a>
    <a class="btn btn-primary" href="{% url 'mini_degree:degrees' %}">Add a new Mini Degree</a>
    <br/><br/>
    <h2>Mini Degrees</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Courses</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for degree in degrees %}
            <tr>
                <td>{{ degree.title }}</td>
                <td>{{ degree.subtitle }}</td>
                <td>
                    {% for course in degree.courses.all %}
                    {{ course }}<br/>
                    {% endfor %}
                </td>

                {% if user == degree.user %}
                    <td><a href="{% url 'mini_degree:edit_degree' pk=degree.id %}"><i class="icon fa fa-edit"></a></td>
                    <td><a href="{% url 'mini_degree:delete_degree' pk=degree.id %}"><i class="icon fa fa-trash-o"></i></a></td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}
